.par {
  color: white;
}

.card-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-container {
  height: 280px;
  width: 300px;
  background-color: #334155;
  margin: 10px;
}

.image {
  width: 300px;
  height: 200px;
}

.remove {
  background-color: transparent;
  height: 30px;
  width: 70px;
  border: 1px solid #f1f5f9;
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin-top: 10px;
}
